:root{
    
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --White: hsl(0, 0%, 100%);
}


body { 
    
    font-size: 16px;
    margin: 20px; 
    background-color: var(--Stone-100); 
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.recipe-card {
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 1rem;
    justify-content: center;
}

h1 {
    margin: 1rem;
    font-family: "Young Serif", sans-serif; 
    font-weight: 200;
    color: var(--Stone-900);
    text-align: left;
}

p {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    color: var(--Stone-600);
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-size: 16px;
    text-align: left;
}

.two {
    background-color: var(--Rose-50);
    padding: 1rem;
    margin-top: 1rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--Stone-600);
    text-align: left;
    border-radius: 10px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--Brown-800);
    text-align: left;
}

li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--Stone-600);
    font-size: 16px;
    text-align: left;
}

.ingredients {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--Stone-600);
    text-align: left;
}

.young-serif-regular {
    font-family: 'Young Serif', serif;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    color: var(--Brown-800);
    text-align: auto;
}

.instructions {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--Stone-600);
    text-align: left;
    margin-right: 1.5rem;
}

hr {
    border: none;
    border-top: 1px solid var(--Stone-150);
    font-size: 600;
    color: var(--Stone-600);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.details {
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    width: 100%;
}



tr td {
    font-family: 'Outfit', sans-serif;
    padding-block: 0.75rem;
    width: 90%;
    border-bottom: 1px solid var(--Stone-150);
}

tr td:first-child {
    padding-left: 3rem;
    font-weight: 400;
    color: var(--Stone-600);
}

tr td:last-child {
    text-align: left;
    padding-right: 19rem;
    color: var(--Rose-800);
    font-weight: 700;
    border-bottom: 1px solid var(--Stone-150)
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
